# Exploring Data

In [1]:
import pandas as pd
import altair as alt

/Users/gracelynnewest/.pyenv/versions/3.8.5/envs/berkeley_tree_data-3.8.5/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
berkeley_trees = pd.read_csv('City_Trees.csv')

In [3]:
berkeley_trees.head()

,the_geom,SiteID,STRT_NUM,STRT_NAM,STRT_ASSIG,BLOCK_ON,SPECIES,ITREE,Common_Nam,OTHER_TREE,...,CURB,GUARD,SPACESIZE,TREESIZE,GPS_Date,Vert_Prec,Horz_Prec,Latitude,Longitude,AreaID
0,POINT (-122.27825103970729 37.8849535051094),19143,1161,COLUSA AVE,N,BEVERLY PL,Prunus cerasifera,PRCE,Cherry plum,NaN,...,Y,N,3.5,NaN,10/01/2012 07:00:00 AM +0000,0.1,0.1,37.884954,-122.278251,3
1,POINT (-122.27816635887888 37.88496491806563),19144,1161,COLUSA AVE,N,BEVERLY PL,Liquidambar styraciflua,LIST,Sweetgum,NaN,...,Y,N,3.5,NaN,10/01/2012 07:00:00 AM +0000,0.5,0.4,37.884965,-122.278166,3
2,POINT (-122.27803245597467 37.88489176163965),19145,1708,BEVERLY PL,N,BEVERLY PL,Planting Site,NaN,NaN,NaN,...,Y,NaN,3.5,SMALL (SDWLK 5 FT),10/01/2012 07:00:00 AM +0000,0.1,0.1,37.884892,-122.278032,3
3,POINT (-122.27795279613872 37.884872693418004),19146,1708,BEVERLY PL,N,BEVERLY PL,Planting Site,NaN,NaN,NaN,...,Y,NaN,3.5,SMALL (SDWLK 5 FT),10/01/2012 07:00:00 AM +0000,0.1,0.1,37.884873,-122.277953,3
4,POINT (-122.27787858593904 37.884855236280394),19147,1712,BEVERLY PL,N,BEVERLY PL,Acer species,AC,Maple,NaN,...,Y,N,3.5,NaN,10/01/2012 07:00:00 AM +0000,0.1,0.1,37.884855,-122.277879,3

In [4]:
berkeley_trees.tail()

,the_geom,SiteID,STRT_NUM,STRT_NAM,STRT_ASSIG,BLOCK_ON,SPECIES,ITREE,Common_Nam,OTHER_TREE,...,CURB,GUARD,SPACESIZE,TREESIZE,GPS_Date,Vert_Prec,Horz_Prec,Latitude,Longitude,AreaID
46032,POINT (-122.27422705818493 37.871332060519464),33284,1820,M L KING JR WAY,N,M L KING JR WAY,Liriodendron tulipifera,LITU,Tulip tree,NaN,...,N,N,4.0,NaN,12/06/2012 08:00:00 AM +0000,0.1,0.1,37.871332,-122.274227,7
46033,POINT (-122.27442956186094 37.87117125868647),33285,1814,UNIVERSITY AVE,N,UNIVERSITY AVE,Liriodendron tulipifera,LITU,Tulip tree,NaN,...,N,N,4.0,NaN,12/06/2012 08:00:00 AM +0000,0.1,0.1,37.871171,-122.274430,7
46034,POINT (-122.27468758058076 37.87123767665735),33286,1810,UNIVERSITY AVE,N,UNIVERSITY AVE,Planting Site,NaN,NaN,NaN,...,N,NaN,4.0,SMALL (SDWLK 5 FT),12/06/2012 08:00:00 AM +0000,1.3,0.7,37.871238,-122.274688,7
46035,POINT (-122.27478407603465 37.87115416164091),33287,1808,UNIVERSITY AVE,N,UNIVERSITY AVE,Liriodendron tulipifera,LITU,Tulip tree,NaN,...,N,N,4.0,NaN,12/06/2012 08:00:00 AM +0000,0.2,0.1,37.871154,-122.274784,7
46036,POINT (-122.2749554349902 37.87113427284294),33288,1800,UNIVERSITY AVE,N,UNIVERSITY AVE,Liriodendron tulipifera,LITU,Tulip tree,NaN,...,N,N,4.0,NaN,12/06/2012 08:00:00 AM +0000,0.2,0.1,37.871134,-122.274955,7